* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin: 0;
  gap: 20px;
}

.calculator {
  background-color: slateblue;
  border-radius: 20px;
  width: 300px;
}

.display {
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  aspect-ratio: 2/1;
  border: 10px solid slateblue;
  border-radius: 20px;
}

.display .display-text {
  min-height: 130px;
  padding: 15px 0;
  color: white;
}

.display .display-text p {
  min-height: 50px;
  margin: 0;
  padding: 5px 10px;
  font-size: 2rem;
  font-weight: lighter;
  text-align: end;
}

.display .display-operation {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 50px;
}

.display .display-result {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
}

.buttons {
  background-color: #1a1a1a;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  border: 10px solid slateblue;
  border-radius: 20px;
}

.buttons button {
  flex: 1 0 20%;
  margin: 2px;
  aspect-ratio: 1/1;
  border: none;
  border-radius: 10px;
  background-color: slateblue;
  color: white;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  transition-duration: 0.1s;
}

.buttons button:hover {
  background-color: hsl(248, 53%, 55%);
  cursor: pointer;
}

.buttons button.zero,
.buttons button.result {
  aspect-ratio: 2/1;
}
